
.item-content p
{
  white-space: normal;
}

.ion-chevron-right:before {
    color: red;
}

.small-padding-left .item-content {
  padding-left: 20px;
}

.popup-head {
  background-color: rgba(17, 17, 17, .8);
}

.popup-head h3 {
  color: #fff;
}

.popup-body {
  color: #ff0000;
  text-align: center;
}

.popup-buttons .button.button-positive {
  background-color: #ffc900;
}
