<ion-view view-title="Trends nearby you">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>
  <!-- do you want padding? -->
  <form ng-submit="submit()">
  <div class="bar bar-subheader bar-stable item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" name="search" ng-focus="focused()" ng-model="searchword" ng-minlength="3" placeholder="Search Tweets">
    </label>
    <button type="submit" ng-click="submit()" class="button button-assertive">
      Search
    </button>
  </div>
</form>
  <ion-content class="hide-on-keyboard-open has-subheader">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()"></ion-refresher>
    <ion-list ng-repeat="hashtag in geotweetsC.controllerData.hashtags">
      <ion-item class="item-remove-animate small-padding-left item-avatar item-icon-right" type="item-text-wrap" ui-sref="main.tweetshashtag({hashtag:hashtag.name})">
        <h3>{{hashtag.name}}</h3>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>

</ion-view>
