<ion-view view-title="Detailed View of the current Tweet">
  <!-- do you want padding -->
  <ion-content class="padding">

    <ion-list>

      <ion-item class="list card">
        <div class="item item-avatar">
          <img ng-src="{{tweet.user.profile_image_url}}"/>
          <h3>{{tweet.user.screen_name}}</h3>
          <p>{{tweet.text}}</p>
        </ion-item>

        <div class="item item-body">
          <p ng-bind-html="tweet.text"></p>
          <img ng-if="tweet.extended_entities" ng-src="{{ tweet.extended_entities.media[0].media_url }}" style="width: 100%;"/>
        </div>

      </div>
    </ion-list>

  </ion-content>
</ion-view>
