<ion-view view-title="Twitter Timeline">
  <ion-nav-buttons side="secondary">
  </ion-nav-buttons>

  <ion-content>
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <ion-list>
      <div ng-show="tweet_timeline.statuses.length == 0">Loading tweets...wait pleaz</div>
      <ion-item>
        <input name="Search" type="text" ng-model="searchTag" placeholder="Search...">
      </ion-item>
      <ion-item ng-repeat="tweet in tweet_timeline.statuses track by tweet.id" class="list card" ui-sref="main.listDetail({id: tweet.id})">
        <div class="item">
          <h3>{{tweet.user.screen_name}}</h3>
          <p>{{tweet.text}}</p>
        </ion-item>

      </div>
    </ion-list>

  </ion-content>
</ion-view>
