<ion-tabs class="tabs-icon-top tabs-energized">
  <div>
    <ion-tab title="Tweets" icon-off="ion-social-twitter-outline" icon-on="ion-social-twitter"
    ui-sref="main.geolocationtweets">
      <ion-nav-view name="tab-tweets"></ion-nav-view>
    </ion-tab>

    <ion-tab title="About" icon-off="ion-ios-help-outline" icon-on="ion-ios-help"
    ui-sref="main.about">
      <ion-nav-view name="tab-about"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Imprint" icon-off="ion-ios-information-outline" icon-on="ion-ios-information"
    ui-sref="main.imprint">
      <ion-nav-view name="tab-imprint"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Network" icon-off="ion-nuclear" icon-on="ion-nuclear"
    ui-sref="main.network">
      <ion-nav-view name="tab-network"></ion-nav-view>
    </ion-tab>
  </div>
</ion-tabs>
