<ion-tabs class="tabs-icon-top tabs-dark">

  <!-- List Tab -->
  <ion-tab title="List" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"
    ui-sref="main.list">
    <ion-nav-view name="tab-list"></ion-nav-view>
  </ion-tab>

  <!-- Imprint Tab -->
  <ion-tab title="Impressum" icon-off="ion-ios-pint-outline" icon-on="ion-ios-pint"
    ui-sref="main.imprint">
    <ion-nav-view name="tab-imprint"></ion-nav-view>
  </ion-tab>

  <!-- About Tab -->
  <ion-tab title="About" icon-off="ion-social-html5-outline" icon-on="ion-social-html5"
    ui-sref="main.about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>

</ion-tabs>
