<ion-view view-title="Detail Tweet View">
  <ion-content class="padding">

    <div class='card'>
      <div class="item item-text-wrap">
        <img ng-src="{{tweetdetailC.controllerData.tweet.user.profile_image_url}}" />
        <span>{{tweetdetailC.controllerData.tweet.user.name}}</span>
        <p ng-bind-html='tweetdetailC.controllerData.tweet.text | linky' ng-click='tweetdetailC.getLink($event)'></p>
      </div>
      <p>{{tweetdetailC.controllerData.tweet.user.location}}</p>
      <p>{{tweetdetailC.controllerData.tweet.created_at | StringToDate | date:'hh:mm - dd.MM.yyyy'}}</p>
    </div>

  </ion-content>
</ion-view>
